{%extends "images/layout.html"%}

{%block body%}


{% if user.is_authenticated %}
    <h2>Upload Images to {{repo.title}}</h2>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div >
            <input class="form-control" required name="images" type="file" multiple>
        </div>
        
        <input class="btn btn-primary" style="margin-top:10px" type="submit" value="Upload">
        
        
    </form>
{% else %}

<h1>Create an account so you can upload some images</h1>

{% endif %}


{% endblock %}