{%extends "images/layout.html"%}

{%block body%}


{% if user.is_authenticated %}
    <h1>Upload Images</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <input required name="images" type="file" multiple>
        </div>
        <div style="padding-top: 20px;">
            <input type="submit" value="Upload">
        </div>
        
    </form>
{% else %}

<h1>Create an account so you can upload some images</h1>

{% endif %}


{% endblock %}