{%extends "images/layout.html"%}

{%block body%}


{% if user.is_authenticated %}
    <h1>Create a Repo of Images</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div style="padding-top: 20px;"></div>
            Title: <input class="form-control" name="title" type="text">
        </div>

        <div style="padding-top: 20px;">
            <p>Description</p>
            <textarea class="form-control" name="des" id="des" cols="30" rows="10"></textarea>
        </div>

        <div style="padding-top: 20px;">
            Thumbnail: <input class="form-control" required name="thumbnail" type="file">
        </div>

        <div style="padding-top: 20px;">
            Photos: <input class="form-control" required name="images" type="file" multiple>
        </div>

        <div style="padding-top: 20px;" class="form-check form-switch">
            <input class="form-check-input" name="private" type="checkbox"> Private
        </div>

        <div style="padding-top: 20px;">
            <input class="btn btn-primary" type="submit" value="Create">
        </div>
    </form>
{% else %}

<h1>Create an account so you can upload some images</h1>

{% endif %}


{% endblock %}