<!DOCTYPE html>

<html>

<head>
    <title>Shopify Image Repo</title>
</head>

<body>
    <h1>Welcome to my Image Repo, {{ user }}</h1>
    <nav>
        {% if user.isauthenticated %}
        <h1>Authd</h1>
        {% else %}
        <h1>Not auth</h1>
        {% endif %}
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
    </nav>
    <hr>
    {%block body%}
    {%endblock%}
</body>

</html>