{%extends "images/layout.html"%}

{%block body%}


{% if user.is_authenticated %}
    <h2>Upload an Image to {{repo.title}}</h2>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Upload">
    </form>
    <div style="padding-top: 20px;">
        <a href="{% url 'bulk-upload' repo.id%}">Upload in bulk</a>
    </div>
    
{% else %}

<h1>Create an account so you can upload some images</h1>

{% endif %}


{% endblock %}